<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{{assets.stylesheet}}}" />
    <script type="importmap">
      {
        "imports": {
          "react": "{{{imports.react}}}",
          "react/jsx-runtime": "{{{imports.reactJsxRuntime}}}",
          "react-dom/client": "{{{imports.reactDomClient}}}"
        }
      }
    </script>
  </head>
  <body>
    <main id="app-root"></main>
    <script type="module" src="{{{assets.script}}}"></script>
  </body>
</html>
